.project
.cproject
.settings
.idea
cmake-build-debug
bin
Debug
Release
buildsettingslocal.py
build/CMakeCache.txt
build/cmake_install.cmake
build/dakaraserver
build/Makefile
build/CMakeFiles/*
*.pyc
server-resources
*.swp
vc2015
